@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;900&family=Poppins:ital,wght@0,400;0,500;1,300&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.hader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: #FFEFDE80;

}

.logo{
    display: flex;
    justify-content: start;
    padding-right: 25rem;
}

header a{
    text-decoration: none;
}


.info-h{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    color: green;
    text-decoration: none;

}

.info-h a{
    color: black;
    text-decoration: none;
}


.boton-h{
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: row;
    gap: 2rem;
    padding-left: 25rem;
}

.boton-h2 a{
    background-color: #009F97!important; 
    color: white;
}

.boton-h2 a:hover{
    background-color: white!important;
    border-color: black;
    color: black;
}

.boton-h a{
    height: 50px;
    width: 110px;
    background-color: #F76313;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-h a:hover{
    background-color: white;
    border-color: black;
    color: black;
}


#img-h{
    height: 25px;
    width: 80px;
}

.padre {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 33rem;
    gap: 2rem;

}

.sub {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.imagen {
    height: auto;
    max-width: 27rem;
    width: auto;
}

img {
    height: auto;
    width: auto;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

#uno {
    background-color: #F76313;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    height: 3rem;
    width: 8rem;
    cursor: pointer;
}

#uno:hover {
    background-color: white;
    border-color: black;
    color: black;
}

#telefono {
    width: 30px;
    height: 25px;
    margin-top: 0.rem;

}

#dos {
    background-color: transparent;
    color: black;
    border-color: transparent;
    cursor: pointer;


}

.cositas {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#checkbox1 {
    accent-color: #F76313;

}

#checkbox2 {
    accent-color: #F76313;
}

.padretocho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: auto;
    max-height: auto;
    gap: 4rem;
}

.padre2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    gap: 1.5rem;
    background-color: #FFEFDE80;
    width: 100%;
}

.cartas {
    display: flex;
    flex-direction: row;
}

.sub2 {
    width: auto;
    gap: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.cart {
    background-color: white;
    border-color: transparent;
    border-radius: 44px;
    width: 280px;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.cart:hover {
    background-color: #F76313;
    color: white;

}

.cartas {
    gap: 2rem;
    margin-top: 2rem;
}

#img1 {
    height: 46px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#img2 {
    height: 46px;
    width: 62px;
}

#img3 {
    height: 46px;
    width: 62px;
}

#img4 {
    height: 46px;
    width: 62px;
}

#tres {
    background-color: #F76313;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    height: 3rem;
    width: 8rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

#tres:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.boton2 {
    margin-top: 2rem;
}

.padre3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

}

.sub3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2.5rem;

}

.cards-img {
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    background-color: #FFE4C8;
    align-items: center;
    width: 50%;
    justify-content: center;
    text-align: center;
    height: 20rem;
    overflow: hidden;
    width: 15rem;
    gap: 1.5rem;
}

#personas {
    height: 10rem;
    border-radius: 4rem;
    max-width: 12rem;
}

#boton3 {
    background-color: #FF5B2E;
    max-width: 8rem;
    border-radius: 1rem;
    border-color: transparent;
    width: 120px;
    height: 60px;
    color: white;
    cursor: pointer;
}

#boton3:hover {
    background-color: transparent;
    border-color: black;
    color: black;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.padre4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF4EA;
    width: 100%;
}

.sub4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 30rem;

}

.lado1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35rem;
    height: 25rem;
    gap: 2.5rem;
}



.lado2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 45rem;
    background-color: white;
    height: 25rem;
    border-radius: 16px;
    gap: 3rem;
}

.lado2-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    gap: 3rem;
    width: 13rem;
}

.texl1 {
    display: flex;
    text-align: start;

}

.perrito-img {
    display: flex;
    height: 17rem;
    width: 15rem;
    background-color: #FFE6D2;
    border-radius: 15px;
}

#perrito-img {
    height: 15rem;
}

#boton4 {
    background-color: #FF5B2E;
    max-width: 8rem;
    border-radius: 1rem;
    border-color: transparent;
    width: 120px;
    height: 60px;
    color: white;
    cursor: pointer;
}

#boton4:hover {
    background-color: transparent;
    border-color: black;
    color: black;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}